<!--
	作者：1085463652@qq.com
	时间：2015-12-22
	描述：基本信息
-->
<ion-view view-title="基本信息">
	<ion-nav-bar class="basicInfo-nav">
      <ion-nav-buttons side="left" >
		<button class="button button-icon ion-ios-arrow-back" ng-click="Exit()">
		</button>
		</ion-nav-buttons>
    </ion-nav-bar>
  <ion-content>
  		<div class="list">
  			<div class="item item-icon-right basicInfo-list-head">
  				<span >
  					头像
  				</span>
  				<img ng-src="image/identification/user.png" class="item-note"/>
  				<i class="icon ion-ios-arrow-forward"></i>
  			</div>
  			<div class="item">
  				<span>
  					账户名
  				</span>
  				<span class="item-note">
  					132****5412
  				</span>
  			</div>
  			<div class="item">
  				<span>
  					昵称
  				</span>
  				<span class="item-note">
  					秋Sam
  				</span>
  			</div>
  			<div class="item">
  				<span>
  					性别
  				</span>
  				<span class="item-note">
  					男
  				</span>
  			</div>
  			<div class="item">
  				<span >
  					籍贯
  				</span>
  				<span class="item-note">
  					广东省揭阳市惠来县
  				</span>
  			</div>
  			<div class="item">
  				<span>
  					出生日期
  				</span>
  				<span class="item-note"> 
  					1991年08月15日
  				</span>
  			</div>
  		</div>
  		<div class="basicInfo-btn">
  			<button class="button button-full button-positive button-small">退出登录</button>
  		</div>
  </ion-content>
</ion-view>