<!--
	作者：1085463652@qq.com
	时间：2015-12-22
	描述：信息认证
-->
<ion-view view-title="信息认证">
	<ion-nav-bar class="basicInfo-nav">
		<ion-nav-buttons side="left">
			<button class="button button-icon ion-ios-arrow-back" ng-click="Exit()">
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content>
		<div class='row row-wrap'>
			<div class='col col-30'>
				<img ng-src='img/identification/title.png' alt="Edit" />
			</div>
			<div class='col col-30'>
				<span>资料填写<span>
  					<br/>
  					<span>
  					请按照提示填写本人真实资料
  				</span>
			</div>
			<div class='col col-30'>
				<span>(中国大陆地区)</span>
			</div>
		</div>
		<div class="list">

			<a class="item item-icon-left" href="#">
				<i class="icon ion-email"></i> Check mail
			</a>

			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-chatbubble-working"></i> Call Ma
				<i class="icon ion-ios7-telephone-outline"></i>
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-mic-a"></i> Record album
				<span class="item-note">
      Grammy
    </span>
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-person"></i> Friends
				<span class="badge badge-assertive">0</span>
			</a>

		</div>
		<div>

		</div>
		<div>

		</div>
		<div>

		</div>
		<div>
			<button class="button button-full "></button>
		</div>
	</ion-content>
</ion-view>