<!--
	作者：1085463652@qq.com
	时间：2015-12-22
	描述：信息认证
-->
<ion-view view-title="信息认证">
	<ion-nav-bar class="basicInfo-nav">
		<ion-nav-buttons side="left">
			<button class="button button-icon ion-ios-arrow-back" ng-click="Exit()">
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content scroll=false>
		<div class="identify-title">
			<img ng-src="img/identification/listhead.png" />
		</div>
		<div class="scroll list">
			<div class="item item-icon-left item-icon-right identify-list-div">
				<i class="icon"><img ng-src="img/identification/user.png" alt="user"/></i>
				<span>姓名:</span>
				<input type="text" placeholder="此昵称将用作展示，一旦注册成功将不能修改" ng-model="user.name">
				<i class="icon second">
					<img ng-src="img/identification/confirm.png" ng-if="user.name!=null && user.name!=''">
					<img ng-src="img/identification/wrong.png" ng-if="user.name==null || user.name==''">
				</i>
			</div>
			<div class="item item-icon-left item-icon-right identify-list-div">
				<i class="icon"><img ng-src="img/identification/password.png" alt="passport"/></i>
				<span>身份证号:</span>
				<input type="text" placeholder="请输入你准确的身份证号" ng-model="user.passport">
				<i class="icon second">
					<img ng-src="img/identification/confirm.png" ng-if="user.passport!=null && user.passport!=''">
					<img ng-src="img/identification/wrong.png" ng-if="user.passport==null || user.passport==''">
				</i>
			</div>
			<div class="item item-icon-left identify-list-div">
				<i class="icon"><img ng-src="img/identification/phone.png"  alt="phone"/></i>
				<span>联系方式:</span>
				<input type="text" placeholder="手机或固话至少填写一个">
			</div>
			<div class="item item-icon-left identify-list-div">
				<i class="icon"><img ng-src="img/identification/address.png" alt="address"/></i>
				<span>联系地址:</span>
				<input type="text" placeholder="补充详细地址(如门牌号/楼层号等)">
			</div>
			<a class="item identify-list-a">
				<span class="first">点击上传（证件）</span>
				<span class="second">身份证正面</span>
				<img ng-src="img/identification/cardon.png" alt="照片"/>
			</a>
			<a class="item identify-list-a">
				<span class="first">点击上传（证件）</span>
				<span class="second">身份证背面</span>
				<img ng-src="img/identification/cardoff.png" alt="照片"/>
			</a>
			<a class="item identify-list-a">
				<span class="first">点击上传（证件）</span>
				<span class="second">手持身份证</span>
				<img ng-src="img/identification/cardon.png" alt="照片"/>
			</a>
		</div>
		<div class="basicInfo-btn">
			<a href="#"><img ng-src="img/identification/btn.png" alt="提交"/>
				
			</a>
		</div>
	</ion-content>
</ion-view>