<!--
	作者：1085463652@qq.com
	时间：2015-12-22
	描述：信息认证
-->
<ion-view view-title="信息认证">
	<ion-nav-bar class="basicInfo-nav">
		<ion-nav-buttons side="left">
			<button class="button button-icon ion-ios-arrow-back" ng-click="Exit()">
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content>
		<div class="row row-wrap">
			<div class="col col-30 identify-div-edit">
				<img ng-src="img/identification/title.png" alt="Edit" class="identify-img-edit" />
			</div>
			<div class="col col-40 identify-div-title">
				<span class="identify-span-title">资料填写</span>
				<br/>
				<span class="identify-span-titledetai">
  					请按照提示填写本人真实资料
  				</span>
			</div>
			<div class="col col-30 identify-div-address">
				<span>(中国大陆地区)</span>
			</div>
		</div>
		<div class="list">
			<div class="item item-icon-right ">
				<img ng-src="img/identification/user.png" class='identify-img-list' />
				<span>姓名:</span>
				<input type="text" placeholder="此昵称将用作展示，一旦注册成功将不能修改">
				<i class="icon ion-ios-checkmark"></i>
			</div>
			<div class="item item-icon-right ">
				<img ng-src="img/identification/password.png" class='identify-img-list' />
				<span>身份证号:</span>
				<input type="text" placeholder="请输入你准确的身份证号">
				<i class="icon ion-ios-checkmark"></i>
			</div>
			<div class="item">
				<img ng-src="img/identification/phone.png" class='identify-img-list' />
				<span>联系方式:</span>
				<input type="text" placeholder="手机或固话至少填写一个">
			</div>
			<div class="item">
				<img ng-src="img/identification/address.png" class='identify-img-list' />
				<span>联系地址:</span>
				<input type="text" placeholder="补充详细地址(如门牌号/楼层号等)">
			</div>
		</div>
		<div class="list scroll">
			<a class="item">
				<span>点击上传(证件)</span>
				<span>身份证正面</span>
				<img ng-src="img/identification/cardon.png" />
			</a>
			<a class="item">
				<span>点击上传(证件)</span>
				<span>身份证背面</span>
				<img ng-src="img/identification/cardoff.png" />
			</a>
			<a class="item">
				<span>点击上传(证件)</span>
				<span>手持身份证</span>
				<img ng-src="img/identification/cardon.png" />
			</a>
		</div>
		<div>
			<button class="button button-full button-positive">提交</button>
		</div>
	</ion-content>
</ion-view>