<!--
	作者：1085463652@qq.com
	时间：2015-12-23
	描述：投资账户
-->
<ion-view>
	<ion-content>
		<div class="loanAccount-head">
			<img ng-src="img/loanAccount/headbg.png" class="bgimg" />
			<div class="row row-wrap">
				<div class="col col-30 first">
					<a href="#">
						<img ng-src="img/loanAccount/headpic.png" />
					</a>
				</div>
				<div class="col col-40 second">
					<img ng-src="img/loanAccount/headpic.png" />
					<span>赵得刚</span>
				</div>
				<div class="col col-30 third">
					<a href="#/transactionRecord">
						<span>交易记录</span>
					</a>
				</div>
			</div>
			<div class="row row-wrap loanAccount-process">
				<div class="col col-50 colborder">
					<a class="button button-full button-small">
						<img ng-src="img/loanAccount/signin.png" />
						<span>签到</span>
					</a>
				</div>
				<div class="col col-50">
					<a class="button button-full button-small">
						<img ng-src="img/loanAccount/exchange.png" />
						<span>兑换</span>
					</a>
				</div>
			</div>
			<div class="loanAccount-total">
				<a>
					<img ng-src="img/loanAccount/total.png">
					<span>借款总额：1000万</span>
				</a>
			</div>
		</div>
		<div class="scroll">
			<div class="loanAccount-money">
				<div class="back">
					<span>已还：¥10,000,000.00</span>
				</div>
				<div class="noback">
					<span>未还：¥900,000.00</span>
				</div>
			</div>
			<div class="row row-wrap loanAccount-identify">
				<div class="col col-50">
					<div class="row row-wrap">
						<div class="col col-33">
							<img ng-src="img/loanAccount/identify.png" class="statusimg" />
						</div>
						<div class="col col-67">
							<span class="title">实名认证</span>
							<img ng-src="img/identification/confirm.png" ng-if="true" class="status" />
							<img ng-src="img/identification/wrong.png" ng-if="false" class="status" />
							<span class="statusspan" ng-if="true">已认证</span>
							<span class="statusspan" ng-if="false">未认证</span>
							<a>
								<span class="btn">查看</span>
							</a>
						</div>
					</div>
					<span class="content" ng-if="true">您已享有大额收付款服务</span>
				</div>
				<div class="col col-50">
					<div class="row row-wrap">
						<div class="col col-33">
							<img ng-src="img/loanAccount/phone.png" class="statusimg" />
						</div>
						<div class="col col-67">
							<span class="title">手机
								<span>(132***1521)</span>
							</span>
							<img ng-src="img/identification/confirm.png" ng-if="true" class="status" />
							<img ng-src="img/identification/wrong.png" ng-if="false" class="status" />
							<span class="statusspan" ng-if="true">已绑定</span>
							<span class="statusspan" ng-if="false">未绑定</span>
							<a>
								<span class="btn">管理</span>
							</a>
						</div>
						<span class="content" ng-if="true">您已享有手机相关服务</span>
					</div>
				</div>

			</div>
			<div class="inverAccount-chart">
				<div class="title">
					<a>
						<span>收益趋势图</span>
						<img ng-src="img/inverAccount/charthead.png" />
					</a>
				</div>
				<div class="row row-wrap">
					<div class="col col-30">
						chart
					</div>
					<div class="col col-5">
						<img ng-src="img/inverAccount/asd.png">
						<img ng-src="img/inverAccount/asd.png">
						<img ng-src="img/inverAccount/asd.png">
					</div>
					<div class="col col-20">
						<span>投资收益</span>
						<span>其他收益</span>
						<span>其他收益</span>
					</div>
					<div class="col col-10">
						<span>25%</span>
						<span>0%</span>
						<span>0%</span>
					</div>
					<div class="col col-10">
						<img ng-src="img/inverAccount/asd.png">
						<img ng-src="img/inverAccount/asd.png">
						<img ng-src="img/inverAccount/asd.png">
					</div>
					<div class="col col-25">
						<span>1,000,000.00</span>
						<span>0.00</span>
						<span>0.00</span>
					</div>
				</div>
			</div>
			<div class="inverAccount-imgbtn">
				<div class="row row-wrap">
					<div class="col col-50">
						<div class="row row-wrap">
							<div class="col col-33">
								<img ng-src="img/inverAccount/licai.png" />
							</div>
							<div class="col col-67">
								<span class="first">理财投资项目</span>
								<span class="second">资金周转</span>
							</div>
						</div>
					</div>
					<div class="col col-50">
						<div class="row row-wrap">
							<div class="col col-33">
								<img ng-src="img/inverAccount/yuji.png" />
							</div>
							<div class="col col-67">
								<span class="first">预计下月收益</span>
								<span class="second">¥ 10,000,000.00</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-wrap">
					<div class="col col-50">
						<div class="row row-wrap">
							<div class="col col-33">
								<img ng-src="img/inverAccount/total.png" />
							</div>
							<div class="col col-67">
								<span class="first">累计收益</span>
								<span class="second">¥ 250,000,000.00</span>
							</div>
						</div>
					</div>
					<div class="col col-50">
						<div class="row row-wrap">
							<div class="col col-33">
								<img ng-src="img/inverAccount/totalmoney.png" />
							</div>
							<div class="col col-67">
								<span class="first">投资总金额</span>
								<span class="third">¥ 1,000,000,000.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="inverAccount-search">
				<div class="row row-wrap ">
					<div class="col col-50">
						<a class="button button-full button-small">
							<div class="row row-wrap">
								<div class="col col-33">
									<img ng-src="img/inverAccount/statement.png" />
								</div>
								<div class="col col-67">
									<span >回账查询&gt</span>
									<span>共计0.00元</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col col-50">
						<a class="button button-full button-small">
							<div class="row row-wrap">
								<div class="col col-33">
										<img ng-src="img/inverAccount/monthstate.png" />
								</div>
								<div class="col col-67">
									<span>月度账单&gt</span>
							<span>已赚金额0.00元</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="loanAccount-state">
				<div class="title">
					<a>
						<span>待收统计</span>
						<img ng-src="img/loanAccount/totalhead.png" />
					</a>
				</div>
				<ion-slide-box>
					<ion-slide>
						<div></div>
					</ion-slide>
					<ion-slide>
						<div></div>
					</ion-slide>
					<ion-slide>
						<div></div>
					</ion-slide>
					<ion-slide>
						<div></div>
					</ion-slide>
					<ion-slide>
						<div></div>
					</ion-slide>
				</ion-slide-box>
			</div>
		</div>

	</ion-content>
</ion-view>