<!--
	作者：1085463652@qq.com
	时间：2015-12-23
	描述：借款账户
-->
<ion-view>
	<ion-content>
		<div class="loanAccount-head">
			<img ng-src="image/loanAccount/headbg.png" class="bgimg" />
			<div class="row row-wrap">
				<div class="col col-30 first">
					<a href="#">
						<img ng-src="image/loanAccount/headpic.png" />
					</a>
				</div>
				<div class="col col-40 second">
					<img ng-src="image/loanAccount/headpic.png" />
					<span>赵得刚</span>
				</div>
				<div class="col col-30 third">
					<a href="#/transactionRecord">
						<span>交易记录</span>
					</a>
				</div>
			</div>
			<div class="row row-wrap loanAccount-process">
				<div class="col col-50 colborder">
					<a class="button button-full button-small">
						<img ng-src="image/loanAccount/signin.png" />
						<span>签到</span>
					</a>
				</div>
				<div class="col col-50">
					<a class="button button-full button-small">
						<img ng-src="image/loanAccount/exchange.png" />
						<span>兑换</span>
					</a>
				</div>
			</div>
			<div class="loanAccount-total">
				<a>
					<img ng-src="image/loanAccount/total.png">
					<span>借款总额：1000万</span>
				</a>
			</div>
		</div>
		<div class="scroll">
			<div class="loanAccount-money">
				<div class="back">
					<span>已还：¥10,000,000.00</span>
				</div>
				<div class="noback">
					<span>未还：¥900,000.00</span>
				</div>
			</div>
			<div class="row row-wrap loanAccount-identify">
				<div class="col col-50">
					<div class="row row-wrap">
						<div class="col col-33">
							<img ng-src="image/loanAccount/identify.png" class="statusimg" />
						</div>
						<div class="col col-67">
							<span class="title">实名认证</span>
							<img ng-src="image/identification/confirm.png" ng-if="true" class="status" />
							<img ng-src="image/identification/wrong.png" ng-if="false" class="status" />
							<span class="statusspan" ng-if="true">已认证</span>
							<span class="statusspan" ng-if="false">未认证</span>
							<a>
								<span class="btn">查看</span>
							</a>
						</div>
					</div>
					<span class="content" ng-if="true">您已享有大额收付款服务</span>
				</div>
				<div class="col col-50">
					<div class="row row-wrap">
						<div class="col col-33">
							<img ng-src="image/loanAccount/phone.png" class="statusimg" />
						</div>
						<div class="col col-67">
							<span class="title">手机
								<span>(132***1521)</span>
							</span>
							<img ng-src="image/identification/confirm.png" ng-if="true" class="status" />
							<img ng-src="image/identification/wrong.png" ng-if="false" class="status" />
							<span class="statusspan" ng-if="true">已绑定</span>
							<span class="statusspan" ng-if="false">未绑定</span>
							<a>
								<span class="btn">管理</span>
							</a>
						</div>
						<span class="content" ng-if="true">您已享有手机相关服务</span>
					</div>
				</div>
				<div class="identifybtn">
					<a class="button button-full">
						<span>审核认证</span>
						<img ng-src="image/loanAccount/identifyhead.png" />
					</a>
				</div>
			</div>
			<div class="loanAccount-btn">
				<div class="row row-wrap">
					<div class="col col-25">
						<img ng-src="image/loanAccount/userInfo.png" />
						<span>个人信息</span>
					</div>
					<div class="col col-25">
						<img ng-src="image/loanAccount/loanInfo.png" />
						<span>借款信息</span>
					</div>
					<div class="col col-25">
						<img ng-src="image/loanAccount/confirm.png" />
						<span>资质审核</span>
					</div>
					<div class="col col-25">
						<img ng-src="image/loanAccount/money.png" />
						<span>筹集资金</span>
					</div>
				</div>
			</div>
			<div class="loanAccount-chart">
				<canvas id="doughnut" class="chart chart-doughnut" chart-data="datachart" chart-labels="labelschart">
				</canvas>
			</div>
			<div class="loanAccount-procmark">
				<img ng-src="image/loanAccount/01.png" ng-if="true" />
				<img ng-src="image/loanAccount/01.png" ng-if="false" />
				<img ng-src="image/loanAccount/01.png" ng-if="false" />
				<img ng-src="image/loanAccount/01.png" ng-if="false" />
			</div>
			<div class="loanAccount-imgbtn">
				<div class="row row-wrap">
					<div class="col col-50">
						<img ng-src="image/loanAccount/fillin.png" />
					</div>
					<div class="col col-50">
						<img ng-src="image/loanAccount/uploanInfo.png" />
					</div>
				</div>
				<div class="row row-wrap">
					<div class="col col-50">
						<img ng-src="image/loanAccount/linkphone.png" />
					</div>
					<div class="col col-50">
						<img ng-src="image/loanAccount/identifiInfo.png" />
					</div>
				</div>
			</div>
			<div class="loanAccount-state">
				<div class="title">
					<a>
						<span>还款统计</span>
						<img ng-src="image/loanAccount/totalhead.png" />
					</a>
				</div>
				<div class="row row-wrap boxtitle">
					<a class="col col-20">标题</a>
					<a class="col col-20">金额</a>
					<a class="col col-20">利率</a>
					<a class="col col-20">日期</a>
					<a class="col col-20">操作</a>
				</div>
				<ion-slide-box class="loanAccount-box">
					<ion-slide ng-repeat="list in lists">
						<div ng-repeat="datas in list">
							<div class="row row-wrap">
								<div class="col col-20">
									{{datas.title}}
								</div>
								<div class="col col-20">
									<span>¥</span>
									{{datas.money}}万
								</div>
								<div class="col col-20">
									<span>¥</span>
									{{datas.interest}}万
								</div>
								<div class="col col-20">
									{{datas.date}}
								</div>
								<div class="col col-20">
									<a><img ng-src="image/loanAccount/back.png"/></a>
								</div>
							</div>
						</div>
					</ion-slide>
				</ion-slide-box>
			</div>
		</div>

	</ion-content>
</ion-view>