<!--
	作者：1085463652@qq.com
	时间：2015-12-23
	描述：借款账户
-->
<ion-view>
	<ion-content scroll=false>
		<div class="loanAccount-head">
			<img ng-src="img/loanAccount/headbg.png" class="bgimg" />
			<div class="row row-wrap">
				<div class="col col-30 first">
					<a href="#">
						<img ng-src="img/loanAccount/headpic.png" />
					</a>
				</div>
				<div class="col col-40 second">
					<img ng-src="img/loanAccount/headpic.png" />
					<span>赵得刚</span>
				</div>
				<div class="col col-30 third">
					<a>
						<span>交易记录</span>
					</a>
				</div>
			</div>
			<div class="row row-wrap loanAccount-process">
				<div class="col col-50 colborder">
					<a class="button button-full button-small">
						<img ng-src="img/loanAccount/signin.png" />
						<span>签到</span>
					</a>
				</div>
				<div class="col col-50">
					<a class="button button-full button-small">
						<img ng-src="img/loanAccount/exchange.png" />
						<span>兑换</span>
					</a>
				</div>
			</div>
			<div class="loanAccount-total">
				<a>
					<img ng-src="img/loanAccount/total.png">
					<span>借款总额：1000万</span>
				</a>
			</div>
		</div>
		<div class="scroll">
			<div>
				<span>已还：¥10,000,000.00</span>
				<span>未还：¥900,000.00</span>
			</div>
			<div class="row row-wrap">
				<div class="col col-50">
					<img ng-src="img/loanAccount/identify.png" />
					<span>实名认证</span>
					<img ng-src="img/identification/confirm.png" ng-if="true" />
					<img ng-src="img/identification/wrong.png" ng-if="false" />
					<span ng-if="true">已认证</span>
					<span ng-if="false">未认证</span>
					<span>查看</span>
					<span ng-if="true">您已享有大额收付款服务</span>
				</div>
				<div class="col col-50">
					<img ng-src="img/loanAccount/phone.png" />
					<span>手机</span>
					<span>(132***1521)</span>
					<img ng-src="img/identification/confirm.png" ng-if="true" />
					<img ng-src="img/identification/wrong.png" ng-if="false" />
					<span ng-if="true">已绑定</span>
					<span ng-if="false">未绑定</span>
					<span>管理</span>
					<span ng-if="true">您已享有手机相关服务</span>
				</div>
			</div>
			<div>
				<div>
					<a>
						<span>审核认证</span>
						<img ng-src="img/loanAccount/identifyhead.png" />
					</a>
				</div>
				<div class="row row-wrap">
					<div class="col col-25">
						<img ng-src="img/loanAccount/userInfo.png" />
					</div>
					<div class="col col-25">
						<img ng-src="img/loanAccount/loanInfo.png" />
					</div>
					<div class="col col-25">
						<img ng-src="img/loanAccount/confirm.png" />
					</div>
					<div class="col col-25">
						<img ng-src="img/loanAccount/money.png" />
					</div>
				</div>
			</div>
			<div>
				chart
			</div>
			<div>
				过程
			</div>
			<div>
				<div class="row row-wrap">
					<div class="col col-50">
						<img ng-src="img/loanAccount/fillin.png" />
					</div>
					<div class="col col-50">
						<img ng-src="img/loanAccount/uploanInfo.png" />
					</div>
				</div>
				<div class="row row-wrap">
					<div class="col col-50">
						<img ng-src="img/loanAccount/linkphone.png" />
					</div>
					<div class="col col-50">
						<img ng-src="img/loanAccount/identifiInfo.png" />
					</div>
				</div>
			</div>
			<div>
				<div>
					<a>
						<span></span>
						<img ng-src="img/loanAccount/totalhead.png" />
					</a>
				</div>
				<ion-slide-box >
					<ion-slide>
						<div ></div>
					</ion-slide>
					<ion-slide>
						<div ></div>
					</ion-slide>
					<ion-slide>
						<div ></div>
					</ion-slide>
					<ion-slide>
						<div ></div>
					</ion-slide>
					<ion-slide>
						<div ></div>
					</ion-slide>
				</ion-slide-box>
			</div>
		</div>

	</ion-content>
</ion-view>