<!--
	作者：1085463652@qq.com
	时间：2015-12-23
	描述：借款账户
-->
<ion-view>
	<ion-content scroll=false>
		<div class="loanAccount-head">
			<img ng-src="img/loanAccount/headbg.png" class="bgimg" />
			<div class="row row-wrap">
				<div class="col col-30 first">
					<a href="#" >
						<img ng-src="img/loanAccount/headpic.png" />
					</a>
				</div>
				<div class="col col-40 second">
					<img ng-src="img/loanAccount/headpic.png" />
					<span>赵得刚</span>
				</div>
				<div class="col col-30 third">
					<a>
						<span>交易记录</span>
					</a>
				</div>
			</div>
			<div class="row row-wrap loanAccount-process">
				<div class="col col-50 colborder">
					<a class="button button-full button-small">
						<img ng-src="img/loanAccount/signin.png"/>
						<span>签到</span>
					</a>
				</div>
				<div class="col col-50">
					<a class="button button-full button-small">
						<img ng-src="img/loanAccount/exchange.png"/>
						<span>兑换</span>
					</a>
				</div>
			</div>
			<div class="loanAccount-total">
				<a >
					<img ng-src="img/loanAccount/total.png">
					<span>借款总额：1000万</span>
				</a>
			</div>
		</div>
		
	</ion-content>
</ion-view>