<ion-view view-title="交易记录">
	<ion-nav-bar class="basicInfo-nav">
		<ion-nav-buttons side="left">
			<button class="button button-icon ion-ios-arrow-back" ng-click="Exit()">
			</button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-clear" ng-click="Exit()">筛选
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content scroll=false ng-model="hasValue">
		<div ng-if="hasValue==true">
			<div class="row row-wrap transRec-tabs">
				<a class="col col-20">还款期数</a>
				<a class="col col-20">本金</a>
				<a class="col col-20">利息</a>
				<a class="col col-20">日期</a>
				<a class="col col-20">状态</a>
			</div>
			<ion-slide-box class="transRec-data">
				<ion-slide ng-repeat="list in lists">
					<div ng-repeat="datas in list">
						<div class="row row-wrap">
							<div class="col col-20 code">
								<img ng-src="image/transRecord/asd.png" alt="" />
								<span>{{datas.periods}}</span>
							</div>
							<div class="col col-20">
								<span>{{datas.principal}}万</span>
							</div>
							<div class="col col-20">
								<span>{{datas.interest}}万</span>
							</div>
							<div class="col col-20 time">
								<span>{{datas.date}}</span>
								<span> {{datas.time}}</span>
							</div>
							<div class="col col-20">
								<span ng-if="datas.status==0">未还款</span>
								<span ng-if="datas.status==1" class="complete">已还款</span>
							</div>
						</div>
					</div>
				</ion-slide>
			</ion-slide-box>
			<div class="transRecord-total">
				<a>
					<img ng-src="image/loanAccount/total.png">
					<span>账号交易总金额：¥ 1000万</span>
				</a>
			</div>
		</div>
		<div ng-if="hasValue==false" class="transRecord-nodata">
			<img ng-src="image/transRecord/nodata.png" />
		</div>
	</ion-content>
</ion-view>