.basicInfo-nav{
	background-color: #0191da;
	color:white;
}
.basicInfo-list-head{
	border-bottom: 5px solid #999999;
}
.basicInfo-list-head span{
	margin-top: 10px;
}
.basicInfo-list-head img{
	width: 5rem;
	vertical-align: middle;
}
.basicInfo-btn{
	 margin: 0 10%;
}

