.basicInfo-nav{
	background-color: #387ef5;
	color:white;
}
.basicInfo-item-border{
	border-bottom: 5px solid #999999;
}
.basicInfo-span-head{
	margin-top: 10px;
}
.basicInfo-btn-exit{
	 margin: 0 10%;
}

