.inverAccount-container {
	max-width: 360px;
	margin: 0px auto;
}

.chart-wrapper {
	background: #fff;
	padding: 0px 5px 10px 5px;
	max-width: 360px;
	margin: 0px auto 0px auto;
	box-sizing: border-box;
	/*overflow: auto;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;*/
}

.chart-wrapper canvas {
	min-width: 274px;
	height: 274px;
}
.chart-doughunt{
	background: #fff;
	padding: 5px;
	max-width: 200px;
	margin: 0px auto 0px auto;
	box-sizing: border-box;
}
.chart-doughunt canvas {
	min-width: 100px;
	height: 100px;
}
