.identify-title{
	border-bottom: 5px solid #999999;
}
.identify-title img{
	width: 100%;
}
.identify-list-div{
	
}
.identify-list-div img{
	width: 32px;
    height: 32px;
}
.identify-list-div .second img{
	width: 1rem;
    height: 1rem;
}
.identify-list-div span{
	font-size: 0.8rem;
    float: left;
    margin: 7px 0 0 0;
}
.identify-list-div input{
	font-size: 0.6rem;
    float: left;
}
.identify-list-div-confirm{
	background-color: #28A54C;
}
.identify-list-div-wrong{
	background-color: red;
}
.identify-list-a{
	text-align: center;
	border-top: 5px solid #999999;
}
.identify-list-a img{
	width:3rem;
	display: block;
	margin: 0 auto;
}
.identify-list-a .first{
	display: block;
    margin: 0 auto;
    font-weight: bold;
    opacity: 0.6;
}
.identify-list-a .second{
	display: block;
    margin: 0 auto;
    font-size: 0.8rem;
    opacity: 0.4;
}
.basicInfo-btn{
	margin: 0 3%;
}
.basicInfo-btn img{
	width:100%;
}
