.inverAccount-chart{
	
}
.inverAccount-chart .title{
	background-color: #5fbae7;
    text-align: center;
    height: 43px;
}
.inverAccount-chart .title a{
	display: block;
    padding-top: 9px;
}
.inverAccount-chart .title span{
	color: #ffffff;
    font-size: 1.1rem;
}
.inverAccount-chart .title img{
	width: 2rem;
    vertical-align:bottom;
}
.inverAccount-chart .row{
	margin: 0px;
	padding: 0px;
}
.inverAccount-chart .col{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.inverAccount-chart .col img{
		
}
.inverAccount-chart .col span{
	
}
.inverAccount-imgbtn{
	
}
.inverAccount-imgbtn .row{
	margin: 0px;
	padding: 0px;
}
.inverAccount-imgbtn .col{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.inverAccount-imgbtn img{
	width: 3rem;
}
.inverAccount-imgbtn .first{
	display: block;
    font-size: 0.8rem;
}
.inverAccount-imgbtn .second{
	font-size: 0.8rem;
	color: #999999;
}
.inverAccount-imgbtn .third{
	font-size: 0.8rem;
	color: #EF473A;
}
.inverAccount-search{
	border-top: 15px solid #cccccc;
    border-bottom: 15px solid #cccccc;
}
.inverAccount-search .row{
	margin: 0px;
	padding: 0px;
}
.inverAccount-search .col{
	margin: 0px;
	padding: 0px;
}
.inverAccount-search .col-33{
	text-align: right;
}
.inverAccount-search .col-67{
	text-align: left;
}
.inverAccount-search a{
	background-color: #5fbae7;
	color:#FFFFFF;
	line-height: 14px;
	border: 1px solid #5fbae7;
}
.inverAccount-search a:hover{
	background-color: #b3e5ff;
	color:#999999;
}
.inverAccount-search img{
	width: 2rem;
}
.inverAccount-search span{
	    display: block;
}
.inverAccount-search .button.button-full{
	margin-top: 0px;
    margin-bottom: 0px;
}
.inverAccount-box{
	
}
.inverAccount-box .row{
	margin: 0px;
    padding: 0px;
}
.inverAccount-box .col{
	text-align: center;
	margin: 0px;
    padding: 0px;
}
.inverAccount-box .col{
	font-size: 0.5rem;
    height: 30px;
    line-height: 30px;
}
.inverAccount-box .boxtitle{
	background-color: #cccccc;
    height: 30px;
    line-height: 30px;
}
.inverAccount-box .name{
	color: #387ef5;
}
.inverAccount-box .precent{
	color:#E42112;
}

