.transRec-tabs{
	top:0px;
	background-color: #96D5F5;
	color: #0E334E;
	padding: 0px;
	margin: 0px;
}
.transRec-tabs .col{
	margin: 0px;
	padding: 0px;
	height:30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #CCCCCC;
}
.transRec-tabs a:active{
	background-color:#088ED0;
	color: #FFFFFF;
}
.transRec-data{
}
.transRec-data .row{
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #CCCCCC;
}
.transRec-data .col{
	margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 38px;
}
.transRec-data span{
    font-size: 0.6rem;
    color: #999999;
}
.transRec-data .code{
	color: #0191da;
}
.transRec-data .code img{
	width: 20px;
	vertical-align: middle;
}
.transRec-data .code span{
	color: #0191da;
}
.transRec-data .time{
	line-height: 20px;
}
.transRec-data .time span{
	display: block;
}
.transRec-data .complete{
	color: #0191da;
}
.transRecord-total{
	position: absolute;
    width: 100%;
	bottom: 0px;
	background-color: #0191da;
    text-align: center;
    height: 43px;
}
.transRecord-total a{
	display: block;
    padding-top: 9px;
}
.transRecord-total img{
	width: 1.5rem;
    vertical-align: bottom;
}
.transRecord-total span{
	color: #ffffff;
    font-size: 1.1rem;
}
.transRecord-nodata img{
	width:100%;
}
